In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.Series([300,400,500], index=["jan", "feb", "march"])

jan      300
feb      400
march    500
dtype: int64

In [4]:
dict1={"jan": 300, "feb": 400, "march":500}

In [6]:
var_series=pd.Series(dict1)
var_series

jan      300
feb      400
march    500
dtype: int64

In [7]:
var_series["feb"]

np.int64(400)

In [8]:
"jan" in var_series

True

In [9]:
sales = pd.Series([65,69,72,81,60,2,56,9,27,73,84,5])
sales

0     65
1     69
2     72
3     81
4     60
5      2
6     56
7      9
8     27
9     73
10    84
11     5
dtype: int64

In [11]:
sales.head()

0    65
1    69
2    72
3    81
4    60
dtype: int64

In [12]:
sales.tail()

7      9
8     27
9     73
10    84
11     5
dtype: int64

In [13]:
sales.min()

2

In [14]:
sales.max()

84

In [15]:
sales.sum()

np.int64(603)

In [16]:
sales.mean()

np.float64(50.25)

In [17]:
sales.std() # Standard devation

30.733827972092605

In [18]:
sales.var() # Variance

944.5681818181819

In [19]:
sales.unique()

array([65, 69, 72, 81, 60,  2, 56,  9, 27, 73, 84,  5])

In [21]:
# DataFrames
# From dictionary (most common)
data = {'Name': ['Alice', 'Bob', 'Charlie'], 
        'Age': [25, 30, 35], 
        'City': ['NYC', 'LA', 'Chicago']}
df = pd.DataFrame(data)
print(df)

      Name  Age     City
0    Alice   25      NYC
1      Bob   30       LA
2  Charlie   35  Chicago

In [22]:
# Shape and info
print(df.shape)  # (rows, columns)
df.info()        # Data types, memory usage

# Select columns
print(df['Name'])

# Filter rows
young = df[df['Age'] < 30]
print(young)

# Add column
df['Salary'] = [50000, 60000, 70000]

(3, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
    Name  Age City
0  Alice   25  NYC

In [23]:
# Group by city and mean age
grouped = df.groupby('City')['Age'].mean()
print(grouped)

# Describe stats
print(df.describe())

City
Chicago    35.0
LA         30.0
NYC        25.0
Name: Age, dtype: float64
        Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0

In [25]:
data = np.random.randint(0,10,(3,3))
data

array([[2, 1, 7],
       [6, 6, 2],
       [9, 0, 1]])

In [27]:
pd.DataFrame(data, index=["a", "b", "c"], columns=["x", "y","z"])

   x  y  z
a  2  1  7
b  6  6  2
c  9  0  1

In [28]:
# Sample DataFrame from before
data = {'Name': ['Alice', 'Bob', 'Charlie'], 
        'Age': [25, 30, 35], 
        'City': ['NYC', 'LA', 'Chicago']}
df = pd.DataFrame(data)

# Single row by position (row 1 = Bob)
print(df.iloc[1])

# Multiple rows (rows 0-1)
print(df.iloc[0:2])

# Specific rows and columns (rows 0,2 and columns 0,1)
print(df.iloc[[0,2], [0,1]])

Name    Bob
Age      30
City     LA
Name: 1, dtype: object
    Name  Age City
0  Alice   25  NYC
1    Bob   30   LA
      Name  Age
0    Alice   25
2  Charlie   35

In [29]:
# Set custom index
df_indexed = df.set_index('Name')
print(df_indexed.loc['Bob'])  # Row where Name == 'Bob'

# Range of labels
print(df_indexed.loc['Alice':'Bob'])

# Rows with conditions
print(df.loc[df['Age'] > 28])  # Filter by boolean mask

Age     30
City    LA
Name: Bob, dtype: object
       Age City
Name
Alice   25  NYC
Bob     30   LA
      Name  Age     City
1      Bob   30       LA
2  Charlie   35  Chicago

In [30]:
# Multiple conditions
filtered = df[(df['Age'] > 25) & (df['City'] != 'NYC')]
print(filtered)

# Using query method
print(df.query('Age > 25 and City != "NYC"'))

      Name  Age     City
1      Bob   30       LA
2  Charlie   35  Chicago
      Name  Age     City
1      Bob   30       LA
2  Charlie   35  Chicago

In [31]:
df["Age"].min()

25

In [34]:
df["Age"].max()

35

In [35]:
df["Age"].sum()

np.int64(90)

In [43]:
df["Age"].mean()

np.float64(30.0)

In [38]:
df.shape

(3, 3)

In [39]:
df.dtypes

Name    object
Age      int64
City    object
dtype: object

In [40]:
data = {'Name': ['Alice', 'Bob', 'Charlie'], 
        'Age': [25, 30, 35], 
        'Salary': [50000, 60000, 70000]}
df = pd.DataFrame(data)

print(df.describe())

        Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0

In [41]:
# Single column
print(df['Age'].describe())

# Numeric only, custom percentiles
print(df.describe(percentiles=[0.1, 0.9]))

# Include categoricals
print(df.describe(include='all'))

count     3.0
mean     30.0
std       5.0
min      25.0
25%      27.5
50%      30.0
75%      32.5
max      35.0
Name: Age, dtype: float64
        Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
10%    26.0  52000.0
50%    30.0  60000.0
90%    34.0  68000.0
max    35.0  70000.0
         Name   Age   Salary
count       3   3.0      3.0
unique      3   NaN      NaN
top     Alice   NaN      NaN
freq        1   NaN      NaN
mean      NaN  30.0  60000.0
std       NaN   5.0  10000.0
min       NaN  25.0  50000.0
25%       NaN  27.5  55000.0
50%       NaN  30.0  60000.0
75%       NaN  32.5  65000.0
max       NaN  35.0  70000.0

In [42]:
print("Mean Age:", df['Age'].mean())
print("Median Salary:", df['Salary'].median())
print("Std Dev Age:", df['Age'].std())
print("Correlation:", df['Age'].corr(df['Salary']))

Mean Age: 30.0
Median Salary: 60000.0
Std Dev Age: 5.0
Correlation: 1.0

In [44]:
df["Age"].median()

30.0

In [45]:
df["Age"].mode()

0    25
1    30
2    35
Name: Age, dtype: int64

In [46]:
df["Age"].std()

5.0

In [47]:
df["Age"].var()

25.0

In [48]:
df["Age"].quantile(0.25)

np.float64(27.5)

In [49]:
df["Age"].quantile(0.01)

np.float64(25.1)

In [50]:
# Crosstabs
# Extended sample data with categories
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Department': ['HR', 'IT', 'HR', 'IT', 'Finance'],
    'Gender': ['F', 'M', 'F', 'F', 'M'],
    'Salary': [50000, 60000, 55000, 70000, 65000]
}
df = pd.DataFrame(data)

# Cross-tab Gender vs Department
ct = pd.crosstab(df['Gender'], df['Department'])
print(ct)

Department  Finance  HR  IT
Gender
F                 0   2   1
M                 1   0   1

In [51]:
ct_totals = pd.crosstab(df['Gender'], df['Department'], margins=True)
print(ct_totals)

Department  Finance  HR  IT  All
Gender
F                 0   2   1    3
M                 1   0   1    2
All               1   2   2    5

In [52]:
# Average salary by Gender and Department
ct_salary = pd.crosstab(df['Gender'], df['Department'], 
                       values=df['Salary'], aggfunc='mean')
print(ct_salary)

Department  Finance       HR       IT
Gender
F               NaN  52500.0  70000.0
M           65000.0      NaN  60000.0

In [53]:
# Cut method
# Sample data from crosstab example
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Department': ['HR', 'IT', 'HR', 'IT', 'Finance'],
    'Salary': [50000, 60000, 55000, 70000, 65000]
}
df = pd.DataFrame(data)

# Create salary bins
bins = [0, 55000, 65000, 100000]
labels = ['Low', 'Medium', 'High']
df['Salary_Bin'] = pd.cut(df['Salary'], bins=bins, labels=labels)
print(df[['Name', 'Salary', 'Salary_Bin']])

      Name  Salary Salary_Bin
0    Alice   50000        Low
1      Bob   60000     Medium
2  Charlie   55000        Low
3    Diana   70000       High
4      Eve   65000     Medium

In [54]:
# Merging Data
# Employees DataFrame
employees = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'DeptID': ['D001', 'D002', 'D001', 'D003'],
    'Salary': [50000, 60000, 55000, 70000]
})

# Departments DataFrame
departments = pd.DataFrame({
    'DeptID': ['D001', 'D002', 'D004'],
    'DeptName': ['HR', 'IT', 'Finance']
})

# Inner merge (default) - only matching DeptID
merged = pd.merge(employees, departments, on='DeptID')
print(merged)

      Name DeptID  Salary DeptName
0    Alice   D001   50000       HR
1      Bob   D002   60000       IT
2  Charlie   D001   55000       HR

In [57]:
# Left join - all employees + matching departments
left_merged = pd.merge(employees, departments, on='DeptID', how='left')

# Right join - all departments + matching employees  
right_merged = pd.merge(employees, departments, on='DeptID', how='right')

# Outer join - all rows from both
outer_merged = pd.merge(employees, departments, on='DeptID', how='outer')
print(outer_merged)

      Name DeptID   Salary DeptName
0    Alice   D001  50000.0       HR
1  Charlie   D001  55000.0       HR
2      Bob   D002  60000.0       IT
3    Diana   D003  70000.0      NaN
4      NaN   D004      NaN  Finance

In [58]:
# Different key names
emps = pd.DataFrame({'EmpID': [1, 2], 'Name': ['Eve', 'Frank']})
depts = pd.DataFrame({'EmployeeID': [1, 3], 'Role': ['Manager', 'Analyst']})
multi_key = pd.merge(emps, depts, left_on='EmpID', right_on='EmployeeID')

# Column name conflicts (add suffixes)
merged_suffix = pd.merge(employees, employees, on='DeptID', 
                        suffixes=('_left', '_right'))
print(merged_suffix)

  Name_left DeptID  Salary_left Name_right  Salary_right
0     Alice   D001        50000      Alice         50000
1     Alice   D001        50000    Charlie         55000
2       Bob   D002        60000        Bob         60000
3   Charlie   D001        55000      Alice         50000
4   Charlie   D001        55000    Charlie         55000
5     Diana   D003        70000      Diana         70000